*{
    text-decoration: none;
    list-style: none;
}
body{
    display: flex;
    flex-direction: column;
    
   align-items: center;
}

.container,main, section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-image: url("img/header-pic.avif");
    background-repeat: no-repeat;
    background-size: cover ;
    height: 700px;
    min-width: none;
    width: 100%;
}

header h1{
    padding: 140px 0 0 0;
    color: rgb(7, 7, 7);
    font-size: 55px;
    text-shadow: 10px 10px 10px;
}



main{
    padding: 40px 0;
    background-color: rgb(216, 216, 210);
}

article{
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 450px;
    align-items: center;
    background-color: rgb(32, 32, 9);
}

article p{
    padding:  10px 0;
}


img{
    width: 100%;
    max-width: 417px;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 70px;
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    position: relative;
}

.navigation a{
   display: none;

}

.navigation img{
    max-width: 52px;
}

.navigation ul{
    width:100% ;
    position: absolute;
    top:45px;
    right: 0;
    padding: 20px 5px;
    background-color: rgba(0, 0, 0, 0.589);
    min-width: 120px;
    border-radius:  0  0  0 5px;
    box-shadow: -7px 7px 20px 3px;
}

.navigation ul>a{
    display:flex;
    margin: 3px 0;
    padding: 10px 0;
    font-size: 80%;
    justify-content: center;
    align-items: center;
    /* border: 1px solid wheat ; */
    color: aliceblue;

}



 .navigation ul>a:active
{
    background-color: rgba(0, 0, 0, 0.596);
}



@media (min-width: 768px) {

    .navigation a{
        padding: 0 20px;
        text-decoration: none;
    
    }
}